@media screen and (min-width: 930px){
    /*header*/
    .header{
        padding-bottom:100px;
    }
    .header-left-color{
        position:absolute;
        width:66%;
        height:1500px;
        left:-500px; transform:skewX(-20deg);
        background-color:rgba(80,140,160,.2);
        z-index:10;
    }
    header{
        position:relative;
        top:0;
        text-align:center;
        padding:50px 0 0px calc(280px + 195px + 17%);
        z-index:500;

    }
    .nog-logo{
        font-family: 'Cabin Sketch', cursive;
        display:inline-block;
        position:absolute;
        top:33px;
        left:7%;
        padding:0;
        margin:0;
        font-size:40px;
        width:280px;
    }
    .nog-logo-side{
        position:absolute;
        margin:0;
        left:calc(280px + 8%);
        color:rgba(50,50,50);
        font-size:11.5px;
        width:275px;
        letter-spacing: 1px;
        bottom:5px;
    }
    header a{
        display:inline-block;
        width:15%;
        font-size:16px;
        padding:0 0.5%;
        font-family: 'Cabin Sketch', cursive;
        font-family: 'Shadows Into Light', cursive;
        color:dimgray;
        border-bottom:1px solid ;
        text-decoration: none;
        transition:.2s;
        opacity:.8;
        font-weight:3;
        margin:0 10px;
    }
    .a-right{
        margin-right:20px;
    }
    header a:hover{
        color:midnightblue;
        letter-spacing:2px;
    }
    .instagram{
        display:none;
    }
    .sp-point{
        display:none;
    }
    .sp-toggle-menu{
        display:none;
    }
    .sp-toggle-menu a{
        display:none;
    }
    /*slider内部の設定*/
    .header-slider{
        position:relative;
        z-index:100;
        max-width:90%;
        width:1150px;
        margin:0 auto;
        margin-top:50px;
        opacity:.9;
        overflow:hidden;
    }
    .header-slider-img{
        width:95%;
        margin-left:2.5%;
        transition:.4s;
    }
    .header-slider-img-sp{
        display:none;
    }
    .header-slider-img:hover{
        transform:scale(1.03);
        cursor:pointer;
    }
    .swiper-slide{
        opacity:.3;
    }
    .swiper-slide-active{
        opacity:1;
    }
    /*見え隠れするメニューバー*/
    .header-toggle{
        position:fixed;
        z-index:1000000;
        height:80px;
        top:-80px;
        width:100%;
        background-color:rgba(205,205,205,.8);
        transition:.3s;
    }
    /*history-main*/
    
    
    
    .history-main-slider{
        width:950px;
        max-width:100%;
        padding:0;
        position:relative;
        display:inline-block;
        border:1px solid lightgray;
        margin-bottom:30px;
    }
    
    
    .history-main{
        width:100%;
        height:400px;
        display:flex;
        padding:0;
    }
    .flex-in{
        margin:0;
        flex:1 1 50%;
    }
    .history-img-1{
        background-image:url(thum-6.jpg);
        background-size:cover;
        background-position:center;
        position:relative;
        line-height:400px;
        text-align:center;
        font-size:50px;
        color:white;
        font-family: 'Cabin Sketch', cursive;
        font-family: 'Shadows Into Light', cursive;
    }
    .history-content-1{
        background-color:white;
    }
    .content-1-1{
        width:80%;
        height:80%;
        padding:10%;
        color:dimgray;
    }
    .content-1-1 h2{
        font-weight:1;
        margin-bottom:10px;
        font-family: 'Quicksand', sans-serif;
        border-bottom:1px solid lightgray;
        padding-bottom:5px;
    }
    .content-1-1 p{
        font-size:15px;
        letter-spacing: 1px;
        line-height:2;
    }
    .history-img-2{
        background-color:white;
    }
    .history-content-2{
        background-image:url(thum-7.jpg);
        background-size:cover;
        background-position:center;
        position:relative;
        line-height:400px;
        text-align:center;
        font-size:50px;
        color:white;
        font-family: 'Cabin Sketch', cursive;
        font-family: 'Shadows Into Light', cursive;
    }
    .history-img-3{
        background-image:url(thum-3.jpg);
        background-size:cover;
        background-position:center;
        position:relative;
        line-height:400px;
        text-align:center;
        font-size:50px;
        color:white;
        font-family: 'Cabin Sketch', cursive;
        font-family: 'Shadows Into Light', cursive;
    }
    .history-content-3{
        background-color:white;
    }
    .history-img-4{
        background-color:white;
    }
    .history-content-4{
        background-image:url(thum-4.jpg);
        background-size:cover;
        background-position:center;
        position:relative;
        line-height:400px;
        text-align:center;
        font-size:50px;
        color:white;
        font-family: 'Cabin Sketch', cursive;
        font-family: 'Shadows Into Light', cursive;
    }
    /*history-slide-thumbnail*/
    .history-thum{
        width:700px;
        margin:0 auto;
        border-top:1px solid lightgray;
        position:relative;
    }
    .thum{
        width:140px;
        height:auto;
    }
    .thum:hover{
        cursor:pointer;
    }
    .history-thum::before{
        position:absolute;
        top:0;
        height:101px;
        width:138px;
        border:2px solid gray;
        content:"";
        right:5px;
        left:5px;
        margin:0 auto;
        z-index:100;
    }
    .history-thum::after{
        position:absolute;
        top:105px;
        width:100%;
        height:1px;
        background-color:lightgray;
        content:"";
        display:none;
    }
    .history-sp-slider{
        display:none;
    }
    
    .shop-main{
        width:90%;
        overflow:hidden;
        display:flex;
        margin:0 5%;
    }
    .open , .place{
        width:100%;
        text-align:center;
        font-family: 'Quicksand', sans-serif;
        margin-bottom:30px;
        flex:1 1 50%;
    }
}
@media screen and (max-width: 930px){
    .header{
        padding-bottom:0px;
        margin-bottom:-10px;
        position:relative;
    }
    .header-left-color{
        position:absolute;
        width:100%;
        top:0px;
        background-color:rgba(80,140,160,.2);
        z-index:10;
        display:none;
    }
    /*header*/
    header{
        position:fixed;
        top:0;
        text-align:center;
        z-index:500;
        width:100%;
        background-color:white;
    }
    .nog-logo{
        font-family: 'Cabin Sketch', cursive;
        display:inline-block;
        padding:0;
        margin:0;
        font-size:30px;
        margin:13px 0;
        transform:scale(.8);
    }
    .nog-logo-side{
        display:none;
    }
    header a{
        display:none;
    }
    .instagram{
        position:absolute;
        left:7%;
        width:30px;
        padding:0;
        top:17px;
    }
    .sp-point{
        position:absolute;
        right:7%;
        width:24px;
        padding:0;
        top:20px;
    }
    .sp-point:hover{
        cursor:pointer;
    }
    .sp-point p{
        display:block;
        height:2px;
        background-color:gray;
        width:24px;
        padding:0;
        margin:5px 0;
    }
    .sp-toggle-menu{
        width:100%;
        text-align:center;
        position:fixed;
        top:61px;
        z-index:1000000;
        background-color:lightgray;
        padding:5px 0;
    }
    .sp-toggle-menu a{
        font-family: 'Cabin Sketch', cursive;
        font-family: 'Shadows Into Light', cursive;
        color:dimgray;
        margin:10px 20px;
        text-decoration:none;
        font-size:17px;
        transition:.2s;
    }
    .sp-toggle-menu a:hover{
        letter-spacing: 2px;
        color:midnightblue;
    }
    /*slider内部の設定*/
    .header-slider{
        position:relative;
        z-index:100;
        max-width:100%;
        margin:0 auto;
        opacity:.9;
        overflow:hidden;
        margin-top:60px;
    }
    .header-slider-img{
        display:none;
    }
    .header-slider-img-sp{
        width:100%;
        transition:.4s;
    }
    .header-slider-img:hover{
        transform:scale(1.03);
        cursor:pointer;
    }
    .header-slider-img-sp:hover{
        transform:scale(1.03);
        cursor:pointer;
    }
    .swiper-slide-next{
        opacity: 0.6;
    }
    .swiper-slide-prev{
        opacity: 0.6;
    }
    /*見え隠れするメニューバー*/
    .header-toggle{
        position:fixed;
        z-index:1000000;
        height:60px;
        top:-80px;
        width:100%;
        background-color:rgba(205,205,205,.9);
        transition:.3s;
        display:none;
    }
    /*history*/
    .history-main-slider{
        display:none;
    }
    .history-thum{
        display:none;
    }
    .history-sp-slider{
        width:96%;
        margin:0 2%;
        position:relative;
        overflow:hidden;
    }
    .sp-inner{
        width:100%;
        padding:0;
    }
    .sp-slide-1{
    }
    .sp-slide-2{
    }
    .sp-slide-3{
    }
    .sp-slide-4{
    }
    .sp-inner-top{
        width:96%;
        margin:0 2%;
        height:350px;
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
    }
    .sp-inner-bottom{
        width:100%;
        margin:0;
        height:270px;
        background-color:white;
    } 
    .top-1{
        background-image:url(thum-6.jpg);
    }
    .top-2{
        background-image:url(thum-7.jpg);
    }
    .top-3{
        background-image:url(thum-3.jpg);
    }
    .top-4{
        background-image:url(thum-4.jpg);
    }
    .content-1-1{
        width:90%;
        padding:5%;
        color:dimgray;
        padding-top:20px;
    }
    .content-1-1 h2{
        font-weight:1;
        margin-bottom:10px;
        font-family: 'Quicksand', sans-serif;
        border-bottom:1px solid lightgray;
        padding-bottom:5px;
        text-align:left;
    }
    .content-1-1 p{
        font-size:13px;
        letter-spacing: 1px;
        line-height:2;
        text-align:left;
    }
    .position{
        top:48%;
        transform:scale(.8);
    }
    
    .shop-main{
        width:90%;
        overflow:hidden;
        margin:0 5%;
    }
    .open , .place{
        width:100%;
        text-align:center;
        font-family: 'Quicksand', sans-serif;
        margin-bottom:30px;
    }
}


body{
    margin:0;
    padding:0;
    position:relative;
}

/*ヘッダー*/
.header{
    position:relative;
    background-color:rgba(0,0,0,.05);

    overflow:hidden;
    border-bottom:1px solid rgba(80,140,160,.2);
}




/*header-toggle スライドした時に表示されるメニューバー*/

.header-toggle ul{
    list-style: none;
    display:block;
}
.header-toggle li{
    display:inline-block;
    margin:0 10px;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Shadows Into Light', cursive;
    margin-top:10px;
}
.header-toggle a{
    text-decoration: none;
    color:rgba(0,0,0,.8);
    font-size:20px;
    transition:.5s;
}
.header-toggle a:hover{
    letter-spacing: 2px;
    color:cadetblue;
    transform:scale(1.2);
}
/*main内容*/
.main{
}
/*コンセプト*/
.consept{
    width:100%;
    overflow:hidden;
    position:relative;
    text-align: center;
    padding:80px 0;
    background-color:whitesmoke;
    background-image:url(consept.jpg);
    background-size:cover;
    background-position:center;
}
.consept-left-color{
    position:absolute;
    transform:skewX(20deg);
    background-color:rgba(169,186,203);
    width:56%;
    height:1500px;
    right:-500px;
    
}
.consept-main-1{
    width:100%;
}
.consept-main-1 h2, .consept-main-1 h3{
    font-weight:1;
    
}
.consept-main-1 h2{
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size:27px;
    margin:0;
    position:relative;
}
.consept-main-1 h2::after{
    position:absolute;
    content:"";
    :0;
    width:120px;
    height:4px;
    bottom:-5px;
    right:50%;
    transform:translateX(50%);
    background-color:saddlebrown;
    border-radius:100%;
    
}
.consept-main-1 h3{
    font-family: 'Noto Serif JP', serif;
    font-size:30px;
    margin-top:10px;
    color:darkslategray;
    letter-spacing: 4px;
    width:80%;
    margin:20px auto;
}
.consept-main-1 p{
    width:40%;
    min-width:340px;
    margin:auto;
    line-height:2;
    color:;
    font-size:14px;
    
}
.tohistory{
    margin-top:40px;
    display:inline-block;
    font-size:;
    text-decoration:none;
    color:;
    position:relative;
    font-size:15px;
    transition:.2s;
    text-decoration: none;
    color:midnightblue;
}
.tohistory div{
    width:200px;
    height:33px;
    border:1px solid;
    line-height:33px;
}
.tohistory-div-before{
    position:absolute;
    content:"";
    width:200px;
    height:33px;
    border:1px solid;
    top:-4px;
    right:-4px;
    color:gray;
    transition:.2s;
}

.tohistory:hover{
    cursor:pointer;
    font-size:15px;
    color:darkslategray;
}


/*メニュー*/
.menu{
    position:relative;
    /*background-image:url(menu-back.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position:center;*/
    text-align:center;
    overflow:hidden;
    padding-bottom:50px;
    background-color:rgba(213,213,213,.2);
}
.menu-right-color{
    height:1800px;
    width:425px;
    transform:skewX(20deg);
    right:-397px;
    position:absolute;
    background-color:oldlace;
    z-index:-1;
}
.menu-title{
    display:inline-block;
    font-size:30px;
    letter-spacing:4px;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom:20px;
    margin-top:80px;
    position:relative;
}
.menu-title::after{
    position:absolute;
    content:"";
    :0;
    width:120px;
    height:4px;
    bottom:-5px;
    right:50%;
    transform:translateX(50%);
    background-color:gray;
    border-radius:100%;
}
.menu-pg{
    max-width:610px;
    width:75%;
    margin:20px auto;
    font-size:14px;
    padding:3px 0;
    line-height:1.7;
    letter-spacing:1px;
    color:rgba(0,0,0,.6);
}
.menu ul{
    list-style:none;
    display:block;
    text-align:center;
    margin:0;
    width:100%;
    margin:0;
    padding:0;
}
.menu li{
    display:inline-block;
    width:300px;
    height:300px;
    border-radius:150px;
    margin:20px;
    border:1px solid rgba(0,0,0,.3);
    position:relative;
}
.menu li:hover{
    cursor:pointer;
}
.viewmore{
    padding:5px 20px;
    border:1px solid;
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%)scale(1);
    font-weight:1;
    top:;
    transition:.5s;
    opacity:1;
    color:black;
    background-color:rgba(255,255,255,.1);
}
.viewmore-1{
    padding:5px 20px;
    border:1px solid;
    transform:scale(1);
    position:absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%)scale(1);
    font-weight:1;
    color:white;
    background-color:rgba(0,0,0,.3);
    transition:.5s;
    opacity:1;
}
.menu-over{
    
    position:absolute;
    background-color:rgba(255,255,255,.8);
    width:300px;
    height:300px;
    border-radius:100%;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Shadows Into Light', cursive;
    top:0;
    right:0;
    opacity:0;
    transition:1s;
    overflow:hidden;
}
.menu-text{
    position:absolute;
    top:50%;
    margin:0;
    padding:0;
    left:50%;
    transform:translateY(-50%)translateX(-50%);
    width:100%;
}
.pro-title{
    font-size:24px;
    border-bottom:2px solid gray;
    padding-bottom:5px;
    padding:10px 0;
    color:darkslategrey;
    margin-top:-10px;
}
.under{
    font-size:23px;
}


.menu-1{
    background-image:url(menu-1.jpg);
    background-position:center;
    background-size:100%;
}
.menu-2{
    background-image:url(menu-2.jpg);
    background-position:center;
    background-size:100%;
}
.menu-3{
    background-image:url(menu-3.jpg);
    background-position:center;
    background-size:100%;
}
/*history*/
.history{
    width:100%;
    padding:50px 0;
    text-align:center;
}

.history-title-1{
    text-align:center;
    font-size:30px;
    position:relative;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Shadows Into Light', cursive;
    color:lightslategray;
    position:relative;
    letter-spacing:2px;
    margin-bottom:60px;
}
.history-title-1::after{
    position:absolute;
    right:1px;left:1px;
    margin:0 auto;
    width:120px;
    height:4px;
    border-radius:100%;
    background-color:gray;
    content:"";
    top:50px;
}
.history-title{
    display:block;
    position:relative;
    font-size:20px;
    color:gray;
    margin-top:50px;
    text-align:center;
    font-family: 'Quicksand', sans-serif;
    margin-bottom:30px;
}
.history-title::before{
    position:absolute;
    top:-30px;
    width:950px;
    max-width:90%;
    height:1px;
    background-color:lightgray;
    right:1px;
    left:1px;
    margin:0 auto;
    content:"";
}
/*history-mainはpcとspが違うcss*/
/*shop*/
.shop{
    width:100%;
    background-color:rgba(247,247,247);
    padding:30px 0;
}
.shop-title{
    font-size:30px;
    text-align:center;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Shadows Into Light', cursive;
    color:midnightblue;
    position:relative;
    letter-spacing:2px;
}
.shop-title::after{
    content:"";
    width:80px;
    height:4px;
    border-radius:100%;
    position:absolute;
    background-color:midnightblue;
    bottom:-1px;
    right:1px;
    left:1px;
    margin:0 auto;
}
.open h2 , .place h2{
    font-weight:1;
    font-size:20px;
    width:50%;
    margin:0 25%;
    padding:10px 0;
   letter-spacing: 1px;
    border-bottom:1px solid gray;
    margin-bottom:30px;
}
.open p , .place p{
    font-size:13px;
    margin-top:5px;
    width:60%;
    margin:0 20%;
    line-height: 2
}
.open p span{
    font-size:11px;
    color:gray;
}
.place p{
    font-size:12px;
    color:gray;
    margin-bottom:20px;
}
.place p a{
    cursor:pointer;
}
.sen{
    color:black;
}
.jiyu{
    color:rgba(0,0,0,.3);
}
.map{
    width:100%;
    overflow:hidden;
}
.map iframe{
    width:90%;
    margin:0 5%;
}
.senzoku{
    display:;
}
.jiyugaoka{
    display:none;
}


/*footer*/
footer{
    position:relative;
    padding-bottom:30px;
    padding-top:30px;
}
.footer-bottom{
    width:100%;
    margin:0;
    padding:0;
    text-align:center;
}
.footer-bottom img{
    display:inline-block;
    height:20px;
    width:auto;
    margin:10px 20px;
}
.footer-bottom1{
    width:100%;
    text-align:center;
}
.footer-bottom1 p{
    display:inline-block;
    font-size:10px;
    margin:10px 0;
    color:dimgray;
}
.footer-bottom1 a{
    text-decoration: none;
    color:dimgray;
}